
body {
  background-color: #81ffc4;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.jumbotron {
  background-color: #81ffc4;
}
